@model IEnumerable<PROJECT_SEM3.ViewModels.PostViewModel>

<div class="container-post-index">
    <h2 class="text-primary mb-4">News Feed</h2>
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-4 mb-4 d-flex">
                <div class="card h-100 w-100">
                    <img src="@post.Thumbnail" class="card-img-top" alt="Post Image" loading="lazy">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@post.FullName</h5>
                        <p class="card-text">@post.Title</p> <!-- Tiêu đề bài viết -->
                        <p class="card-text text-muted">@post.CreatedAt.ToString("g")</p>
                        <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary mt-auto">Read More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
